nav{
    
    background-color: darkblue;
    padding: 30px;
}

.button{
    background-color: white;
    color: darkblue;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 30px;
}

.nav-link {
    float: right;
  }

