.row-xs-flex-center {
    display:flex;
    align-items:center;
  }
  
  @media ( min-width:768px ) {
   .row-sm-flex-center {
      display:flex;
      align-items:center; /* up to you */
    }
  
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* or center */
      align-self: stretch;     /* make sure that the column is stretched */
      justify-content: space-around;
    }
  }
  @media ( min-width: 992px ) {
    .row-md-flex-center {
      display:flex;
      align-items:center;
    }
  }
  @media ( min-width: 1200px ) {
    .row-lg-flex-center {
      display:flex;
      align-items:center;
    }
  }